/.classpath
/.project
/.settings
/.ccls-cache
target/site
target/staging
target/javadoc-bundle-options
pljava-so/pgsql.properties
pljava-so/target/
.vagrant/
target/
*.so
*.zip
compile_commands.json

gpdb/packaging/gppkg_spec_v2.yml
gpdb/tests/results
